<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="ros2_control_diffdrive_plugin">

    <!-- simulation plugin -->
    <xacro:if value="$(arg use_sim)">

        <ros2_control name="ros2_control_diffdrive" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            
            <joint name="left_motor_bracket_to_left_wheel">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            
            <joint name="right_motor_bracket_to_right_wheel">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

    </xacro:if>

    <!-- real robot plugin -->
    <xacro:unless value="$(arg use_sim)">
    
        <ros2_control name="ros2_control_diffdrive" type="system">
            <hardware>
                <plugin>jga25_371_hardware_interface/DiffDriveHardware</plugin>
            </hardware>

            <joint name="left_motor_bracket_to_left_wheel">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>

                <param name="enable_pin">17</param>
                <param name="forward_pin">27</param>
                <param name="backward_pin">18</param>

                <param name="encoder_A_pin">24</param>
                <param name="encoder_B_pin">25</param>

                <param name="motor_rpm">130</param>
                <param name="encoder_tics_per_rotation">1976</param>
            </joint>
            
            <joint name="right_motor_bracket_to_right_wheel">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>

                <param name="enable_pin">4</param>
                <param name="forward_pin">26</param>
                <param name="backward_pin">21</param>

                <param name="encoder_A_pin">23</param>
                <param name="encoder_B_pin">22</param>

                <param name="motor_rpm">130</param>
                <param name="encoder_tics_per_rotation">1976</param>
            </joint>
        
        </ros2_control>

    </xacro:unless>

</xacro:macro>

<!-- todo: this need to be done for simulator -->
<xacro:macro name="ros2_control_pca9685">

    <!-- simulation plugin -->
    <xacro:if value="$(arg use_sim)">

        <ros2_control name="ros2_control_pca9685" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            
            <joint name="servo_to_ultrasonic_adapter">
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
            
        </ros2_control>

    </xacro:if>

    <!-- real robot plugin -->
    <xacro:unless value="$(arg use_sim)">

       <ros2_control name="ros2_control_pca9685" type="system">
            <hardware>
                <plugin>pca9685_hardware_interface/Pca9685SystemHardware</plugin>
            </hardware>

            <joint name="servo_to_ultrasonic_adapter">
                <command_interface name="position"/>
                <state_interface name="position"/>

                <param name="channel">11</param>
                <param name="pwm_high">2.0</param>
                <param name="pwm_zero">1.5</param>
                <param name="pwm_low">1.0</param>
                <param name="scale">45.0</param>

            </joint>
            
        </ros2_control>

    </xacro:unless>

</xacro:macro>

</robot>