<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="use_sim" default="false"/>

    <!-- includes -->
    <xacro:include filename="properties.xacro"/>
    <xacro:include filename="component_macros.xacro"/>
    <xacro:include filename="frame.xacro"/>
    <xacro:include filename="ros2_control.xacro"/>
    <xacro:include filename="gazebo.xacro"/>

    <!-- robot -->
    <xacro:coordinate_frames/>

    <xacro:robot_description/>

    <xacro:ros2_control_diffdrive_plugin/>

    <xacro:gazebo_plugins/>

</robot>