<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_diffdrive_plugin">

    <xacro:if value="$(arg use_sim)">
    
        <ros2_control name="ros2_control_diffdrive" type="system">
        
        <hardware>
            <plugin>ros2_control_diffdrive_encoder_plugin/DiffDriveHardware</plugin>
            <param name="motor_left_enable_pin">4</param>
            <param name="motor_left_forward_pin">21</param>
            <param name="motor_left_backward_pin">26</param>
            <param name="motor_right_enable_pin">17</param>
            <param name="motor_right_forward_pin">18</param>
            <param name="motor_right_backward_pin">27</param>
            <param name="motor_rpm">130</param>

            <param name="encoder_left_green_pin">22</param>
            <param name="encoder_left_yellow_pin">23</param>
            <param name="encoder_right_green_pin">24</param>
            <param name="encoder_right_yellow_pin">25</param>
            <param name="encoder_tics_per_rotation">494</param>
        </hardware>

        <joint name="left_motor_bracket_to_left_wheel">
            <command_interface name="velocity">
                <param name="min">-100</param>
                <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="right_motor_bracket_to_right_wheel">
            <command_interface name="velocity">
                <param name="min">-100</param>
                <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        </ros2_control>

    </xacro:if>

    <xacro:unless value="$(arg use_sim)">

        <ros2_control name="ros2_control_diffdrive" type="system">
            
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            
            <joint name="left_motor_bracket_to_left_wheel">
                <command_interface name="velocity">
                    <param name="min">-100</param>
                    <param name="max">100</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            
            <joint name="right_motor_bracket_to_right_wheel">
                <command_interface name="velocity">
                    <param name="min">-100</param>
                    <param name="max">100</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

    </xacro:unless>

  </xacro:macro>

</robot>