<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
<xacro:macro name="lidar">

    <xacro:cylinder_link name="lidar" mass="0.01" radius="0.025" length="0.02"/>    
    <xacro:fixed_joint name="lidar" child="lidar" origin_position="0 0 0.05"/>
    
    <gazebo reference="lidar">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <topic>simulator_lidar</topic>
            <update_rate>20</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>none</type>
                    <mean>0</mean>
                    <stddev>0</stddev>
                </noise>
                <visibility_mask>4294967295</visibility_mask>
            </lidar>
        </sensor>
    </gazebo>
    
</xacro:macro>

<xacro:macro name="ultrasonic">
  
    <xacro:box_link name="ultrasonic" mass="0.01" x="0.01" y="0.03" z="0.015" material="blue"/>  
    <xacro:fixed_joint name="ultrasonic" child="ultrasonic" origin_position="0.065 0 -0.02"/>

    <gazebo reference="ultrasonic">
        <sensor name='gpu_lidar_ultra' type='gpu_lidar'>
            <topic>simulator_ultrasonic</topic>
            <update_rate>20</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.1308</min_angle>
                        <max_angle>0.1308</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>4</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>none</type>
                    <mean>0</mean>
                    <stddev>0</stddev>
                </noise>
                <visibility_mask>4294967295</visibility_mask>
            </lidar>
        </sensor>
    </gazebo>

</xacro:macro>

<xacro:macro name="camera">
    
    <xacro:box_link name="camera" mass="0.01" x="0.02" y="0.045" z="0.03" material="red"/>

    <gazebo reference="camera">
        <sensor name='camera' type='camera'>
            <topic>simulator_camera</topic>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.0469999999999999</horizontal_fov>
                <image>
                    <width>960</width>
                    <height>540</height>
                    <format>RGB_INT8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
                <visibility_mask>4294967295</visibility_mask>
                <lens>
                    <type>stereographic</type>
                    <scale_to_hfov>true</scale_to_hfov>
                    <cutoff_angle>1.5708</cutoff_angle>
                    <env_texture_size>256</env_texture_size>
                </lens>
            </camera>
        </sensor>
    </gazebo>

</xacro:macro>

<xacro:macro name="line_tracking" params="suffix origin">

    <xacro:box_link name="line_tracking_${suffix}" mass="0.001" x="0.01" y="0.01" z="0.01" material="black"/>  
    <xacro:fixed_joint name="line_tracking_${suffix}" child="line_tracking_${suffix}" origin_position="${origin}" origin_orientation="0 1.57 0"/>

    <gazebo reference="line_tracking_${suffix}">
        <sensor name='line_tracking_${suffix}' type='camera'>
            <topic>simulator_line_visibility</topic>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>0.11</horizontal_fov>
                <image>
                    <width>1</width>
                    <height>1</height>
                    <format>RGB_INT8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>100</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

</xacro:macro>

<xacro:macro name="imu">

    <gazebo reference="chassis">
      <sensor name="imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>20</update_rate>
        <visualize>true</visualize>
        <topic>simulator_imu</topic>
      </sensor>
    </gazebo>
      
    <gazebo>
      <plugin filename="libignition-gazebo-imu-system.so"
        name="ignition::gazebo::systems::Imu">
      </plugin>
    </gazebo>
    
</xacro:macro>

</robot>
